<div class="login-wrapper">
  <mat-card class="login-card">

    <div class="login-header">
      <div class="logo">🔐</div>
      <h1>Login</h1>
      <p>Veuillez vous connecter</p>
    </div>

    <mat-card-content>
      <form (ngSubmit)="login()">

        <div class="form-field">
          <label>Matricule</label>
          <input
            matInput
            placeholder="Matricule"
            name="matricule"
            [(ngModel)]="matricule"
            required
          />
        </div>

        <button class="btn-primary" type="submit">
          Se connecter
        </button>

      </form>
    </mat-card-content>

  </mat-card>
</div>
