<mat-sidenav-container class="layout">

  <mat-sidenav mode="side" opened class="sidenav">

    <div class="logo">
      PADEL
    </div>

    <div class="menu">

      <button mat-button routerLink="/home">Accueil</button>
      <button mat-button routerLink="/match">Matchs</button>
      <button mat-button routerLink="/mes-reservations">Mes réservations</button>
      <button mat-button routerLink="/create-match">Créer un match</button>


    </div>

  </mat-sidenav>

  <mat-sidenav-content class="main">

    <div class="topbar">

      <div class="spacer"></div>

      @if (isLoggedIn()) {
        <div class="user">

          <span>{{ user?.name }}</span>

          <button mat-button class="logout-btn" (click)="logout()">
            Déconnexion
          </button>

        </div>
      }

    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
