<mat-sidenav-container class="layout">

  <mat-sidenav mode="side" opened class="sidenav">

    <div class="logo">
      PADEL
    </div>

    <div class="menu">

      <button mat-button routerLink="/home" routerLinkActive="router-link-active">Accueil</button>
      <button mat-button routerLink="/match" routerLinkActive="router-link-active">Matchs</button>
      <button mat-button routerLink="/mes-reservations" routerLinkActive="router-link-active">Mes réservations</button>
      <button mat-button routerLink="/create-match" routerLinkActive="router-link-active">Créer un match</button>
      @if (authService.isAdmin()) {
        <button mat-button routerLink="/admin" routerLinkActive="router-link-active">Admin</button>
      }

    </div>

  </mat-sidenav>

  <mat-sidenav-content class="main">

    <div class="topbar">

      <div class="spacer"></div>

      @if (isLoggedIn()) {
        <div class="user">

          <a class="account-link" routerLink="/mon-compte">
            {{ user?.prenom }} {{ user?.nom }}
          </a>

          <button mat-button class="logout-btn" (click)="logout()">
            Déconnexion
          </button>

        </div>
      }

    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
