<div class="match-container">

  <h2 class="title">Créer un match</h2>

  <mat-card class="match-card">

    <form (ngSubmit)="createMatch()" #form="ngForm">

      <!-- DATE -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Date du match</mat-label>

        <input
          matInput
          type="date"
          [(ngModel)]="date"
          (change)="onDateChange()"
          name="date"
          [min]="dateMin"
          [max]="dateMax"
          required
        >

        @if (!date && form.submitted) {
          <mat-error>La date est obligatoire</mat-error>
        }

      </mat-form-field>

      <!-- SITE -->
      <mat-form-field appearance="outline" class="w-full">

        <mat-label>Choisir un site</mat-label>

        <mat-select
          [(ngModel)]="siteId"
          name="siteId"
          (selectionChange)="onSiteChange()"
          [disabled]="!date"
          required
        >

          @if (sites().length === 0) {
            <mat-option disabled>Aucun site disponible</mat-option>
          }

          @for (site of sites(); track site.id) {
            <mat-option [value]="site.id" [disabled]="!siteAutorise(site.id)">
              {{ site.name }}
            </mat-option>
          }

        </mat-select>

        @if (!siteId && form.submitted) {
          <mat-error>Le site est obligatoire</mat-error>
        }

      </mat-form-field>

      <!-- CRENEAU -->
      <mat-form-field appearance="outline" class="w-full">

        <mat-label>Heure du match</mat-label>

        <mat-select
          [(ngModel)]="heureSelected"
          (selectionChange)="onSlotChange()"
          name="slot"
          [disabled]="!siteId"
          required
        >

          @if (slots.length === 0) {
            <mat-option disabled>Aucun créneau disponible</mat-option>
          }

          @for (slot of slots; track slot) {
            <mat-option [value]="slot">
              {{ slot }} - {{ add90min(slot) }}
            </mat-option>
          }

        </mat-select>

        @if (!heureSelected && form.submitted) {
          <mat-error>Le créneau est obligatoire</mat-error>
        }

      </mat-form-field>

      <!-- TERRAIN -->
      <mat-form-field appearance="outline" class="w-full">

        <mat-label>Choisir un terrain</mat-label>

        <mat-select
          [(ngModel)]="terrainId"
          name="terrainId"
          (selectionChange)="onTerrainChange()"
          [disabled]="!heureSelected"
          required
        >

          @if (terrains().length === 0) {
            <mat-option disabled>Aucun terrain disponible</mat-option>
          }

          @for (terrain of terrains(); track terrain.id) {
            <mat-option [value]="terrain.id">
              {{ terrain.nom }}
            </mat-option>
          }

        </mat-select>

        @if (!terrainId && form.submitted) {
          <mat-error>Le terrain est obligatoire</mat-error>
        }

      </mat-form-field>

      <!-- TYPE -->
      <mat-form-field appearance="outline" class="w-full">

        <mat-label>Type de match</mat-label>

        <mat-select [(ngModel)]="isPublic" name="public">

          <mat-option [value]="true">
            Public
          </mat-option>

          <mat-option [value]="false" [disabled]="matchPriveDesactive()">
            Privé
          </mat-option>

        </mat-select>

      </mat-form-field>

      <!-- ERREUR -->
      @if (error()) {
        <p class="error">{{ error() }}</p>
      }

      <!-- BOUTON -->
      <button
        mat-raised-button
        color="primary"
        class="w-full mt-4"
        type="submit"
        [disabled]="form.invalid"
      >
        Créer le match
      </button>

    </form>

  </mat-card>

</div>
