<h2 class="title">Dashboard Admin</h2>

<div class="match-container">

  @if (error) {
    <p class="match-count text-red-500">{{ error }}</p>
  }

  @if (!error && loading) {
    <p class="match-count">Chargement...</p>
  }

  @if (!error && !loading) {

    <mat-card class="match-card">
      <mat-card-header>
        <mat-card-title>Statistiques générales</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Matchs : {{ matchs }}</p>
        <p>Chiffre d'affaires : {{ ca }} €</p>
        <p>Membres : {{ membres }}</p>
        <p>Terrains : {{ terrains }}</p>
        <p>Taux de remplissage : {{ taux | number:'1.0-2' }} %</p>
      </mat-card-content>
    </mat-card>

    @for (site of sites; track site.id) {
      <mat-card class="match-card">

        <mat-card-header>
          <mat-card-title>{{ site.name }}</mat-card-title>
          <mat-card-subtitle>Revenus du site</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            Montant :
            <strong>{{ revenus[site.name] || 0 }} €</strong>
          </p>
        </mat-card-content>

      </mat-card>
    }

  }

</div>
